* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  min-height: 100vh;
  font-family: Nunito, sans-serif;
}
.header-container {
  box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.1);
  padding-inline: 50px;
  padding: 15px 0;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin-inline: auto;
}
.search-filter-container {
  max-width: 1200px;
  margin-inline: auto;
  margin-top: 16px;
  margin-bottom: 48px;
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.search-container {
  box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.15);
  max-width: 350px;
  width: 100%;
  border-radius: 4px;
  padding-left: 24px;
  color: #999;
  overflow: hidden;
  background-color: white;
}

.search-container input {
  border: none;
  outline: none;
  padding: 16px;
  width: 90%;
  background-color: inherit;
  color: inherit;
}

.search-container input::placeholder {
  color: #999;
}

.filter-by-region {
  width: 250px;
  padding: 16px;
  border: none;
  outline: none;
  box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.toggle {
  background: #fff;
  border: none;
  cursor: pointer;
}
.box {
  max-width: 1200px;
  width: 100%;
  margin-top: 16px;
  display: flex;
  gap: 64px;
  flex-wrap: wrap;
  margin-inline: auto;
  justify-content: space-between;
}

.cards {
  display: inline-block;
  width: 250px;
  border-radius: 8px;
  overflow: hidden;
  padding-bottom: 24px;
  box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
}
.cards:hover {
  transform: scale(1.03);
  box-shadow: 0 0 16px 0px rgba(0, 0, 0, 0.2);
}
.cards img {
  width: 100%;
}
a {
  text-decoration-line: none;
  color: inherit;
}
.card-title {
  font-size: 24px;
  margin-block: 16px;
}
.card-text {
  padding-inline: 16px;
}
.card-text p {
  margin-block: 8px;
  font-style: bold;
}
